[flake8]
application-import-names = hire_hire,add_question,contributors,duel,interview,homepage,users,api_contributors,api_interview,api_add_question,api_duel,api_donation
exclude = .git,__pycache__,venv,manage.py,settings.py,migrations,__init__.py
import-order-style = google
