<div class="footer__contacts">
    <a href="{{ url('homepage:index') }}" class="logo page__link">
        <img src="{{ static('images/logo-white.png') }}" alt="logo"
             class="logo__image">
        <p class="logo__title logo__title_type_white">НаймиНайми</p>
    </a>
    <div class="footer__links">
        <a href="https://www.youtube.com/channel/UCI6JEMLSqgbBKgEZR2zrJNw"
           target="_blank"
           class="footer__link page__link footer__link_type_yt"></a>
        <a href="https://t.me/YoutubePronin" target="_blank"
           class="footer__link page__link footer__link_type_tg"></a>
    </div>
</div>
<p class="footer__copyright page__text">
    © НаймиНайми
</p>
