<a href="{{ url('homepage:index') }}" class="logo page__link">
    <img src="{{ static('images/logo.png') }}" alt="logo" class="logo__image">
    <p class="logo__title">НаймиНайми</p>
</a>
<nav class="header__menu">
    <ul class="header__items page__list">
        <li class="header__item">
            <a href="{{ url('interview:languages') }}" class="header__link page__link page__text">
                Собеседование
            </a>
        </li>
        <li class="header__item">
            <a href="{{ url('add_question:add_question') }}" class="header__link page__link page__text">
                Предложить вопрос
            </a>
        </li>
        <li class="header__item">
            <a href="{{ url('contributors:contributors_list') }}" class="header__link page__link page__text">
                Команда
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="header__item">
            <a id="profile-button" href="{{ url('users:profile') }}"
                class="header__link header__link_type_blue page__link page__text header__link_no_border">
                {{ user.username|truncate(13, False, '...', 0) }}
            </a>
        </li>
        {% else %}
        <li class="header__item">
            <button id="profile-button" type="button" class="header__link header__link_type_blue page__link page__text">
                Вход
            </button>
        </li>
        {% endif %}
    </ul>
</nav>
