{% extends "base.html" %}
{% block main %}

**************************************** это без разметки
<div>
    <div>
        {% include 'addquestion/includes/formerrors.html' %}
    </div>
    <div>
        Вы отправили {{ added_questions }} вопросов из 10 доступных сегодня.
    </div>
    <form method="post">{{ csrf_input }}
        {% include 'addquestion/includes/createform.html' %}
        <button type="submit">
            Добавить
        </button>
    </form>
</div>
**************************************** ниже закопировал шаблон фронта

<main class="main">
    <section class="offer">
        <h1 class="offer__title sections__secondary-title">
            Предложи свой вопрос
        </h1>
        <p class="offer__description sections__description">
            Здесь у вас есть возможность предложить нам свои варианты вопросов и ответов для наших пользователей. Всего
            вы
            можете добавить <strong>до 10 вопросов в день</strong>.
            <br>
            В поле «Ваш вопрос» введите вопрос, он должен быть понятным и конкретным, представьте, что такой вопрос
            задают
            вам и вы понимаете, что на него можно ответить. В поле «Ваш ответ» введите ответ на тот вопрос, который
            вы задали ранее. Ответ также должен быть понятным, конкретным и исчерпывающим. Мы тщательно проверяем
            информацию, которую получаем. После модерации ваши вопросы-ответы попадут в нашу базу данных и помогут
            пользователям учиться и проверять свои знания.
        </p>
        <form method="post" class="offer__form sections" name="offer-form">
            {{ csrf_input }}
            <div class="offer__qa-container">
                {{ form.language.label }}
                {{ form.language }}
                <h2 class="offer__form-title sections__subtitle">
                    {{ form.text.label }}
                </h2>
                <h2 class="offer__form-title sections__subtitle">
                    {{ form.answer.label }}
                </h2>
                {{ form.text }}
                <div class="offer__textarea-container">
                    <textarea id="question" class="offer__textarea page__text" minlength="10" maxlength="500"
                        placeholder="Введите вопрос" required></textarea>
                    <span id="questionError" class="offer__error page__text">Privet</span>
                </div>
                {{ form.answer }}
                <div class="offer__textarea-container">
                    <textarea id="answer" class="offer__textarea page__text" minlength="10" maxlength="500"
                        placeholder="Введите ответ" required></textarea>
                    <span id="answerError" class="offer__error page__text">Privet</span>
                </div>
                <p id="questionHint" class="offer__hints page__text">
                    0 / 10-500
                </p>
                <p id="answerHint" class="offer__hints page__text">
                    0 / 10-500
                </p>
            </div>
            <div class="offer__button-container">
                <button type="submit" class="offer__button offer__button_type_disabled page__text" disabled>
                    Отправить вопрос
                </button>
                <p class="offer__button-hint page__text">
                    Вы отправили {{ added_questions }} вопросов из 10 доступных сегодня.
                </p>
            </div>
        </form>
    </section>

    <script type="text/javascript" src="{{ static('js/offer.js') }}"></script>

</main>
{% endblock %}