.offer-finished__link {
  padding: 12px 24px;
  border-radius: 12px;
  color: rgba(0, 10, 255, 1);
  width: 376px;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
  border: 2px solid rgba(0, 10, 255, 1);
}

.offer-finished__link_type_pouring {
  background-color: rgba(0, 10, 255, 1);
  color: #fff;
}
