{% extends 'base.html' %}
{% block main %}
    <section class="challenge sections">
        <h1 class="challenge__title sections__secondary-title">
            Испытание Python
        </h1>
        <p class="challenge__subtitle page__text">
            <span class="questions__counter">1</span>
            /
            <span class="questions__length">10</span>
        </p>
        <form class="challenge__form">
            <h3 class="challenge__form-title page__text">
                Вопрос
            </h3>
            <div class="challenge__answers">
                <p class="challenge__form-text challenge__form-text_type_question page__text">
                    Рыбий текст, какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект.
                    Рыбий текст, какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект. Рыбий текст, какой же это
                    очень крутой проект.
                </p>
            </div>
            <div class="challenge__answers">
                <h3 class="challenge__form-title page__text">
                    Ваш ответ <span
                        class="challenge__form-subtitle">(Необязательно для заполнения) </span>
                </h3>
                <h3 class="challenge__form-title page__text challenge__form-title_type_correctly">
                    Правильный ответ
                </h3>
                <textarea name="" class="challenge__form-input page__text"
                          placeholder="Введите ответ"
                          id="challenge__input"></textarea>
                <p class="challenge__form-text challenge__form-text_type_correctly page__text">
                    Рыбий текст, какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект.
                    Рыбий текст, какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект. Рыбий текст,
                    какой же это очень крутой проект. Рыбий текст, какой же это
                    очень крутой проект.
                </p>
            </div>
            <button type="button"
                    class="challenge__form-button page__text challenge__form-button_type_visible challenge__form-button_type_button">
                Показать
                правильный ответ
            </button>
            <button type="button"
                    class="challenge__form-button page__text challenge__form-button_type_next">
                Следующий
                вопрос
            </button>
            <a href="{{ url('interview:finish') }}"
               class="challenge__form-button page__text page__link challenge__form-button_type_link">
                Завершить испытание
            </a>
        </form>
    </section>
    {% for question in questions %}
        <p class="challenge__qa">{{ question.text }} ||| {{ question.answer }}</p>
    {% endfor %}
    <script type="text/javascript"
            src="{{ static('js/challenge.js') }}"></script>
{% endblock %}
