{% extends 'base.html' %}
{% block main %}
  <section class="duel-question sections">
    <h1 class="duel__title sections__secondary-title">
      Испытание Python
    </h1>
    <div class="duel__players">
      <p class="duel__player duel-question__player_type_left page__text">
        {{ player1.name }}
      </p>
      <p class="duel__counter page__text">
        {{ player1.counter }} : {{ player2.counter }}
      </p>
      <p class="duel__player duel__player_type_right page__text">
        {{ player2.name }}
      </p>
    </div>
    <form class="duel__form" name="duel-form" {% if can_choose_winner %} method="post" action="{{ url('interview:duel_answer', args=[duel_id]) }}" {% endif %}>
      {{ csrf_input }}
      <h2 class="duel__form-title page__text">
        Вопрос
      </h2>
      <div class="duel__qa-container">
        <p class="duel__question page__text">
          {{ duel_question.question.text }}
        </p>
        {% if can_choose_winner %}
        <p class="duel__answer page__text">  
          {{ duel_question.question.answer }}  
        </p>
        {% endif %}
      </div>
      <h3 class="duel__form-subtitle page__text">
        Кто ответил правильно
      </h3>
      <div class="duel__labels">
        <label class="duel__label page__text">
          <input name="duel-radio-player" type="radio" class="duel__radio" value="{{ player1.id }}" {% if not can_choose_winner %}disabled{% endif %}>
          {{ player1.name }}
        </label>
        <label class="duel__label page__text">
          <input name="duel-radio-player" type="radio" class="duel__radio" value="{{ player2.id }}" {% if not can_choose_winner %}disabled{% endif %}>
          {{ player2.name }}
        </label>
        <label class="duel__label page__text">
          <input name="duel-radio-player" type="radio" class="duel__radio" value="0" {% if not can_choose_winner %}disabled{% endif %}>
          Нет правильного ответа
         </label>
      </div>
      {% if can_choose_winner %}
      <button type="submit" class="duel__button duel__button_type-next page__text">       
          Следующий вопрос     
      </button>
      {% else %}
      <a href="{{ url('interview:duel_answer', args=[duel_id]) }}" class="duel__button duel__button_type_next page__text">
          Показать правильный ответ
      </a>
        <!-- <button class="duel__button duel__button_type_next page__text">
          Следующий вопрос
        </button> -->
      {% endif %}
    </form>
  </section>
{% endblock %}