{% extends 'base.html' %}
{% block main %}
    <section class="test-settings sections">
        <h1 class="test-settings__title sections__main-title">
            Пройти собеседование
        </h1>
        <p class="test-settings__description sections__describtion">
            Выбери количество вопросов для собеседования и приступай к
            испытанию
        </p>

    </section>
    <form class="test-settings-form" method="post"
          action="{{ url('interview:settings') }}">
        {{ csrf_input }}
        <h2 class="test-settings-form__title sections__secondary-title">
            Пройти собеседование
        </h2>
        <h3 class="test-settings-form__subtitle page__text">
            Python
        </h3>

        <div class="test-settings-form__inputs">
            <p class="test-settings-form__hint page__text">
                Настройте параметры для тестирования
            </p>

            <div class="test-settings-form__labels">

                <label class="test-settings-form__label page__text">
                    Количество вопросов
                    {{ form.questions_count }}
                    {% if form.errors.questions_count %}
                        {{ form.errors.questions_count }}
                    {% endif %}
                </label>
                <label class="test-settings-form__label page__text">
                    Уровень сложности (в разработке)
                    <select name="level"
                            class="test-settings-form__select page__text"
                            disabled>
                        <option value="Junior" selected>Junior</option>
                        <option value="Middle">Middle</option>
                        <option value="Senior">Senior</option>
                    </select>
                </label>
            </div>
        </div>
        <br>
        <div class="test-settings__links">
            <a href="{{ url('interview:languages') }}"
               class="programming__link page__link page__text">Назад</a>
            <button type="submit"
                    class="programming__link page__link page__text programming__link_type_pouring">
                Далее
            </button>
        </div>
    </form>
{% endblock %}
