@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/* Page */

@import url(../blocks/page/page.css);
@import url(../blocks/page/page__link.css);
@import url(../blocks/page/page__list.css);
@import url(../blocks/page/page__text.css);
@import url(../blocks/page/page__title.css);
@import url(../blocks/page/page_disabled.css);

/* Logo */

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/logo__image.css);
@import url(../blocks/logo/logo__title.css);

/* Header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/header__items.css);
@import url(../blocks/header/header__item.css);
@import url(../blocks/header/header__link.css);

/* Main */

@import url(../blocks/main/main.css);

/* Sections */

@import url(../blocks/sections/sections.css);
@import url(../blocks/sections/sections__main-title.css);
@import url(../blocks/sections/sections__secondary-title.css);
@import url(../blocks/sections/sections__description.css);

/* About */

@import url(../blocks/about/about.css);
@import url(../blocks/about/about__title.css);
@import url(../blocks/about/about__describtion.css);

/* Interview */

/* Cards */

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/card.css);
@import url(../blocks/cards/card__image.css);
@import url(../blocks/cards/card__title.css);
@import url(../blocks/cards/card__subtitle.css);
@import url(../blocks/cards/card__link.css);

/* Games */

@import url(../blocks/games/games.css);
@import url(../blocks/games/games__subtitle.css);
@import url(../blocks/games/games__link.css);

/* Footer */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/footer__contacts.css);
@import url(../blocks/footer/footer__links.css);
@import url(../blocks/footer/footer__link.css);
@import url(../blocks/footer/footer__copyright.css);

/* Info */

@import url(../blocks/info/info__description.css);

/* Directions */

@import url(../blocks/direction/directions__title.css);

/* Programming */

@import url(../blocks/programming/programming__links.css);
@import url(../blocks/programming/programming__link.css);

/* Test-settings */

@import url(../blocks/test-settings/test-settings__links.css);

/* Test-settings-form */

@import url(../blocks/test-settings-form/test-settings-form.css);
@import url(../blocks/test-settings-form/test-settings-form__subtitle.css);
@import url(../blocks/test-settings-form/test-settings-form__inputs.css);
@import url(../blocks/test-settings-form/test-settings-form__label.css);
@import url(../blocks/test-settings-form/test-settings-form__hint.css);
@import url(../blocks/test-settings-form/test-settings-form__labels.css);
@import url(../blocks/test-settings-form/test-settings-form__select.css);

/* Challenge */

@import url(../blocks/challenge/challenge.css);
@import url(../blocks/challenge/challenge__subtitle.css);
@import url(../blocks/challenge/challenge__form.css);
@import url(../blocks/challenge/challenge__form-title.css);
@import url(../blocks/challenge/challenge__form-text.css);
@import url(../blocks/challenge/challenge__form-input.css);
@import url(../blocks/challenge/challenge__form-button.css);
@import url(../blocks/challenge/challenge__qa.css);

/* Test-finished */

@import url(../blocks/test-finished/test-finished__subtitle.css);
@import url(../blocks/test-finished/test-finished__links.css);
@import url(../blocks/test-finished/test-finished__link.css);

/* Popup */

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/popup__container.css);
@import url(../blocks/popup/popup__close-btn.css);
@import url(../blocks/popup/popup_active.css);

/* Form */

@import url(../blocks/form/form.css);
@import url(../blocks/form/form__title.css);
@import url(../blocks/form/form__input.css);
@import url(../blocks/form/form__input-error.css);
@import url(../blocks/form/form__button.css);
@import url(../blocks/form/form__hint.css);
@import url(../blocks/form/form__label.css);
@import url(../blocks/form/form__input-container.css);
@import url(../blocks/form/form__label-image.css);
@import url(../blocks/form/form__info.css);
@import url(../blocks/form/form__checkbox-container.css);
@import url(../blocks/form/form__chekbox.css);
@import url(../blocks/form/form__chekbox-text.css);
@import url(../blocks/form/form__chekbox-link.css);
@import url(../blocks/form/form__label-hint-container.css);
@import url(../blocks/form/form__label-hint.css);