.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  align-items: center;
  justify-items: center;
  max-width: 1600px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
