.duel__answer {
  padding: 24px;
  border-radius: 12px;
  background-color: rgba(171, 255, 180, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;
}

.duel__answer_type_visible {
  visibility: visible;
  opacity: 1;
}



