.form__label-hint {
  display: inline-block;
  position: absolute;
  min-width: 223px;
  top: 32px;
  left: 50%;
  padding: 12px 24px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  background-color: rgba(8, 6, 23, 0.6);
  border-radius: 12px;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

.form__label-hint::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(8, 6, 23, 0.6);
  transform: translateX(-50%);
  border-top: 0px solid transparent;
  width: 0;
  height: 0;
}