.form {
  padding: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  box-sizing: border-box;
  width: 672px;
}

.form_type_revive-password {
  width: 944px;
}