{% extends "base.html" %}
{% block main %}
    <form class="form form_type_auth" name="auth-form"
          method="post" action="{{ url('users:login') }}"
          novalidate>
        <h2 class="form__title sections__secondary-title">Вход</h2>
        {{ csrf_input }}

        <label class="form__label page__text form__label_type_visible">
            {% if form.errors.__all__ %}
                {{ form.errors.__all__ }}
            {% endif %}
            Юзернейм
            <div class="form__input-container">
                {{ form.username }}
            </div>
            {% if form.errors.username %}
                {{ form.errors.username }}
            {% endif %}
            <span class="form__input-error password-error page__text">ф</span>
        </label>

        <label class="form__label page__text form__label_type_visible">
            Введите пароль
            <div class="form__input-container">
                {{ form.password }}
            </div>
            {% if form.errors.password %}
                {{ form.errors.password }}
            {% endif %}
            <span class="form__input-error password-error page__text">ф</span>
        </label>

        <button type="submit"
                class="form__button page__text form__button_type_pouring"
                value="Войти"
                aria-label="Кнопка отправки формы">Войти
        </button>
        <p class="form__hint page__text">В первый раз здесь?</p>
        <button type="button"
                class="form__button page__text form__button_type_register"
                value="Зарегистрироваться"
                aria-label="Кнопка перехода на страницу регистрации">

            <a href="{{ url('users:signup') }}" class="page__link">Зарегистрироваться</a>
        </button>
    </form>
{% endblock %}
