{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block main %}
    <form class="form form_type_register" name="register-form"
          method="post" action="{{ url('users:signup') }}"
          novalidate>
        {{ csrf_input }}
        <h2 class="form__title form__title_type_register sections__secondary-title">
            Регистрация</h2>
        <label class="form__label page__text form__label_type_visible">
            Юзернейм
            <div class="form__input-container">
                {{ form.username }}
                <div class="form__label-hint-container">
                    <img src="{{ static('images/help-circle.png') }}"
                         alt="Подсказка" class="form__label-image">
                    <span class="form__label-hint page__text">
                  Придумайте юзернейм
                </span>
                </div>
            </div>
            {% if form.errors.username %}
                {{ form.errors.username }}
            {% endif %}
            <span class="form__input-error password-error page__text">ф</span>

        </label>
        <label class="form__label page__text form__label_type_visible">
            Придумайте пароль
            <div class="form__input-container">
                {{ form.password1 }}
                <div class="form__label-hint-container">
                    <img src="{{ static('images/help-circle.png') }}"
                         alt="Подсказка" class="form__label-image">
                    <span class="form__label-hint page__text">
                  Пароль должен содержать столько-то знаков
                </span>
                </div>
            </div>
            {% if form.errors.password1 %}
                {{ form.errors.password1 }}
            {% endif %}
            <span class="form__input-error password-error page__text">ф</span>

        </label>
        <label class="form__label page__text form__label_type_visible">
            Повторите пароль
            <div class="form__input-container">
                {{ form.password2 }}
                <div class="form__label-hint-container">
                    <img src="{{ static('images/help-circle.png') }}"
                         alt="Подсказка" class="form__label-image">
                    <span class="form__label-hint page__text">
                  Повторите пароль введеный выше
                </span>
                </div>
            </div>
            {% if form.errors.password2 %}
                {{ form.errors.password2 }}
            {% endif %}
            <span class="form__input-error password-error page__text">ф</span>

        </label>
        <button type="submit"
                class="form__button page__text form__button_type_pouring form__button_type_register"
                value="Зарегестрироваться"
                aria-label="Кнопка регистрации">Зарегистрироваться
        </button>
        <p class="form__hint page__text">Уже есть аккаунт?</p>
        <button type="button"
                class="form__button page__text form__button_type_register"
                value="Войти">

            <a href="{{ url('users:login') }}" class="page__link">Войти</a>
        </button>
    </form>
{% endblock %}
