.form__input-error {
  font-size: 14px;
  line-height: 16px;
  color: #FF0000;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  text-align: left;
  visibility: hidden;
}

.form__input-error_type_visible {
  visibility: visible;
}
