.offer__textarea {
  padding: 12px 24px;
  border: 1px solid rgba(8, 6, 23, 0.6);
  border-radius: 12px;
  min-height: 200px;
  color: rgba(8, 6, 23, 0.6);
  outline: none;
  width: 100%;
}

.offer__textarea_type_error {
  border: 1px solid rgba(255, 0, 0, 1);
}

