.offer__button {
  width: 512px;
  padding: 12px 24px;
  border-radius: 12px;
  color: #fff;
  background-color: rgba(0, 10, 255, 1);
  align-self: flex-start;
  border: none;
  font-weight: bold;
}

.offer__button_type_disabled {
  background-color: rgba(191, 191, 191, 1);
}