.challenge__form-text {
  background-color: rgba(191, 191, 191, 0.2);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 40px;
}

.challenge__form-text_type_correctly {
  background-color: rgba(171, 255, 180, 0.2);
}