{% extends 'base.html' %}

{% block main %}
    <section class="team sections">
        <h1 class="team__title sections__main-title">
            Команда
        </h1>
        {% set ns = namespace(prev=-1) %}

        {% for contributor in contributors %}
            {% if ns.prev != contributor.role %}
                {% if ns.prev != -1 %}
                    </ul>
                {% endif %}
                <h2 class="team__department sections__subtitle">
                    {{ contributor.role }}
                </h2>
                <ul class="team__cards page__list">
                {% set ns.prev = contributor.role %}
            {% endif %}
            <li class="team__card">
                <img src="{{ contributor.photo.url }}" alt=""
                     class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        {{ contributor.last_name }} {{ contributor.first_name }}
                    </h3>
                    <p class="team__card-description page__text">
                        {% for contact in contributor.contacts.all() %}
                            <a href="{{ contact.contact }}"
                               class="page__link page__text"
                               style="text-decoration: underline">{{ contact.social_network }}</a>
                            <br/>
                        {% endfor %}
                    </p>
                </div>
            </li>
        {% endfor %}
        </ul>


    </section>
{% endblock %}
