{% extends 'base.html' %}

{% block main %}
    <section class="team sections">
        <h1 class="team__title sections__main-title">
            Команда
        </h1>
        <h2 class="team__department sections__subtitle">
            Раздел
        </h2>
        <ul class="team__cards page__list">
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
        </ul>

        <h2 class="team__department sections__subtitle">
            Раздел
        </h2>
        <ul class="team__cards page__list">
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
        </ul>
        <h2 class="team__department sections__subtitle">
            Раздел
        </h2>
        <ul class="team__cards page__list">
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
        </ul>
        <h2 class="team__department sections__subtitle">
            Раздел
        </h2>
        <ul class="team__cards page__list">
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
            <li class="team__card">
                <img src="#" alt="" class="team__card-image">
                <div class="team__card-info">
                    <h3 class="team__card-title page__text">
                        Фамилия Имя
                    </h3>
                    <p class="team__card-description page__text">
                        Какие-то контакты
                    </p>
                </div>
            </li>
        </ul>

    </section>
{% endblock %}
