{% extends 'base.html' %}
{% block main %}
      <section class="challenge sections">
        <h1 class="challenge__title sections__secondary-title">
          Испытание Python
        </h1>
        <p class="challenge__subtitle page__text">
          1 / 10
        </p>
        <form class="challenge__form">
          <h3 class="challenge__form-title page__text">
            Вопрос
          </h3>
          <p class="challenge__form-text page__text">
            Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст,
            какой же это очень крутой проект.
            Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст,
            какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект.
          </p>
          <h3 class="challenge__form-title page__text">
            Ваш ответ
          </h3>
          <textarea name="" class="challenge__form-input page__text" placeholder="Введите ответ"></textarea>
          <h3 class="challenge__form-title page__text challenge__form-title_type_correctly">
            Правильный ответ
          </h3>
          <p class="challenge__form-text challenge__form-text_type_correctly page__text">
            Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст,
            какой же это очень крутой проект.
            Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст,
            какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект.
          </p>
          <button type="button" class="challenge__form-button page__text challenge__form-button_type_visible challenge__form-button_type_button">Показать правильный ответ</button>
          <a href="./test-finished.html" class="challenge__form-button page__text page__link challenge__form-button_type_link">
            Следующий вопрос
          </a>
        </form>
      </section>
{% endblock %}