{% extends 'base.html' %}
{% block main %}
<section class="about sections">
  <h1 class="about__title sections__main-title">
    Заголовок
  </h1>
  <p class="about__describtion page__text">
    Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст,
    какой же это очень крутой проект.
  </p>
  <p class="about__describtion page__text">
    Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект.Рыбий текст,
    какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект.
  </p>
  <p class="about__describtion page__text">
    Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект.Рыбий текст,
    какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это
    очень крутой проект.
  </p>
</section>
<section class="interview sections">
  <a name="interview"></a>
  <h2 class="interview__title sections__secondary-title">
    Пройти собеседование
  </h2>
  <ul class="cards page__list">
    <li class="card">
      <img src="#" alt="" class="card__image">
      <h3 class="card__title page__text">
        Python
      </h3>
      <p class="card__subtitle page__text">
        Короткий поясняющий текст, буквально пару предложений.
      </p>
      <a href="{{ url('interview:languages') }}" class="card__link page__link page__text">
        Перейти
      </a>
    </li>
  </ul>
</section>
<section class="games sections">
  <h2 class="games__title sections__secondary-title">
    Голодные игры
  </h2>
  <p class="games__subtitle page__text">
    Короткий поясняющий текст, буквально пару предложений. Короткий поясняющий текст. Короткий поясняющий текст,
    буквально пару предложений. Короткий поясняющий текст. Короткий поясняющий текст, буквально пару предложений.
    Короткий поясняющий текст. Короткий поясняющий текст, буквально пару предложений. Короткий поясняющий текст.
  </p>
  <a href="./pages/duel-settings.html" class="games__link page__link page__text">
    Провести дуэль
  </a>
</section>
{% endblock %}