{% extends 'base.html' %}
{% block main %}
      <section class="programming sections">
        <h1 class="programming__title sections__main-title">
          Программирование
        </h1>
        <p class="programming__description sections__describtion">
          Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект.
        </p>
        <p class="programming__description sections__describtion">
          Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект. Рыбий текст, какой же это очень крутой проект.Рыбий текст, какой же это очень крутой проект.
        </p>
      </section>
      <section class="direction sections">
        <h2 class="direction__title sections__secondary-title">
          Направление собеседования
        </h2>
        <ul class="cards page__list">
          <li class="card card_type_focused">
            <img src="#" alt="" class="card__image">
            <h3 class="card__title page__text">
              Python
            </h3>
          </li>
          <li class="card">
            <img src="#" alt="" class="card__image">
            <h3 class="card__title page__text">
              Другое
            </h3>
          </li>
          <li class="card">
            <img src="#" alt="" class="card__image">
            <h3 class="card__title page__text">
              Другое
            </h3>
          </li>
        </ul>
        <div class="programming__links">
          <a href="{{ url('interview:languages') }}" class="programming__link page__link page__text">Назад</a>
          <a href="{{ url('interview:settings') }}" class="programming__link page__link page__text programming__link_type_pouring">Далее</a>
        </div>
      </section>
{% endblock %}