<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>НаймиНайми</title>
  <link rel="stylesheet" href="../pages/index.css">
</head>

<body class="root">
  <div class="page">
    <header class="header">
      <a href="../index.html" class="logo page__link">
        <img src="../images/logo.png" alt="logo" class="logo__image">
        <p class="logo__title">НаймиНайми</p>
      </a>
      <nav class="header__menu">
        <ul class="header__items page__list">
          <li class="header__item">
            <a href="./interviews.html" class="header__link page__link page__text">
              Собеседование
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link page__link page__text">
              Команда
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link header__link_type_blue page__link page__text">
              Вход
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <section class="test-finished sections">
        <h1 class="test-finished__title sections__secondary-title">
          Испытание Python
        </h1>
        <h2 class="test-finished__subtitle page__text">
          Поздравляем! Вы закончили испытание.
        </h2>
        <div class="test-finished__links">
          <a href="../index.html" class="test-finished__link page__link page__text">На главную</a>
          <a href="./challenge.html" class="test-finished__link test-finished__link_type_pouring page__link page__text">Новое испытание</a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__contacts">
        <a href="../index.html" class="logo page__link">
          <img src="../images/logo-white.png" alt="logo" class="logo__image">
          <p class="logo__title logo__title_type_white">НаймиНайми</p>
        </a>
        <div class="footer__links">
          <a href="#" class="footer__link page__link footer__link_type_tg"></a>
          <a href="#" class="footer__link page__link footer__link_type_yt"></a>
        </div>
      </div>
      <p class="footer__copyright page__text">
        © Копирайт и правила, все права защищены и тд. Текст текст текст
      </p>
    </footer>
  </div>
</body>

</html>