{% extends 'base.html' %}
{% block main %}
    <section class="duel-settings sections">
        <h1 class="duel-settings__title sections__main-title">
            Голодные игры
        </h1>
        <h2 class="duel-settings__subtitle sections__subtitle">
            Python
        </h2>
        <form method="post" action="{{ url('duel:duel_settings') }}"
              class="duel-settings__form">
            {{ csrf_input }}
            <label class="duel-settings__label page__text">
                Количество вопросов
                <select name="duel-questions-count"
                        class="test-settings-form__select duel-settings__select page__text">
                    <option value="10" selected>10 вопросов</option>
                    <option value="15">20 вопросов</option>
                    <option value="20">30 вопросов</option>
                </select>
            </label>
            <label class="duel-settings__label page__text">
                Введите имена игроков
                <input type="text" name="player1"
                       class="duel-settings__input page__text"
                       placeholder="Игрок 1">
                <input type="text" name="player2"
                       class="duel-settings__input page__text"
                       placeholder="Игрок 2">
            </label>
            <button type="submit" class="duel-settings__button page__text">
                Далее
            </button>
        </form>
    </section>
{% endblock %}