.test-settings-form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 512px;
  border: 2px solid rgba(8, 6, 23, 0.6);
  border-radius: 12px;
  padding: 12px 24px;
  color: rgba(8, 6, 23, 0.6);
  background-image: url(../../images/selectArrow.png);
  background-repeat: no-repeat;
  background-size: 12px 6px;
  background-position-x: 95%;
  background-position-y: center;
}